.add-ponto-turistico-section,
.pontos-turisticos-section {
    max-width: 1370px;
    margin: 0 7.2vw;
    padding: 0 15px;

    .add-ponto-turistico-title {
        margin: 48px 0 32px 0;
        font-size: 32px;
        font-weight: 700;
    }

    @media screen and (max-width: 768px) {
        .add-ponto-turistico-title {
            margin: 16px 0 32px 0;
        }
    }
}

@media screen and (max-width: 412px) {
    .add-ponto-turistico-section,
    .pontos-turisticos-section {
        margin: 0 16px;
        padding: 0;
    }
}
