.add-ponto-turistico-form {
    margin-bottom: 132px;
    max-width: 721px;

    .add-ponto-turistico-wrapper {
        display: flex;
        gap: 16px;

        .add-image-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 288px;
            height: 212px;
            border: 2px solid $gray-100;
            border-radius: 8px;

            .add-image-input {
                display: none;
            }
        }

        .add-infos-wrapper {
            width: 100%;
            max-width: 417px;
            display: inline-grid;
            align-items: end;

            .add-infos-title,
            .add-infos-description {
                width: 100%;
                resize: none;
                border: 2px solid $gray-100;
                border-radius: 8px;
            }

            .add-infos-title {
                max-width: 328px;
                height: 56px;
                padding: 16px 16px;
            }

            .add-infos-description {
                max-width: 417px;
                height: 136px;
                padding: 38px 0 0 20px;
            }
        }
    }

    .add-ponto-turistico-button {
        width: 100%;
        margin-top: 16px;
        max-width: 121px;
        height: 56px;
        color: $white;
        border: 1px solid $button;
        border-radius: 8px;
        background-color: $button;
        transition: background-color 0.2s linear, boder-color 0.2s linear;
        float: right;

        &:hover {
            background-color: $button-hover;
            border-color: $button-hover;
        }

        &:active {
            background-color: $button;
        }
    }

    @media screen and (max-width: 768px) {
        .add-ponto-turistico-wrapper {
            flex-direction: column;

            .add-infos-wrapper {
                max-width: 630px;
                gap: 16px;

                .add-infos-title {
                    max-width: 343px;
                }

                .add-infos-description {
                    max-width: 630px;
                }
            }

            @media screen and (max-width: 280px) {
                .add-image-wrapper {
                    max-width: 250px;
                }
            }
        }

        .add-ponto-turistico-button {
            max-width: 628px;
            margin-top: 8px;
        }
    }
}
