.pontos-turisticos-title {
    font-size: 32px;
    margin-bottom: 32px;
}

.pontos-turisticos-container-fixo,
.pontos-turisticos-container {
    max-width: 1176px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 16px;

    .ponto-turistico-card {
        max-width: 576px;
        height: 212px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #ffffff;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 8px;

        .ponto-turistico-image-wrapper {
            position: relative;
            max-width: 288px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            .ponto-turistico-image {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
                display: block;
            }
        }

        .ponto-turistico-infos-wrapper {
            position: relative;
            padding: 1.5vw;

            .ponto-turistico-title {
                max-width: 240px;
                max-height: 60px;
                font-size: 1.5vw;
                line-height: 1.6vw;
                color: $gray-700;
            }

            .ponto-turistico-description {
                font-family: "Roboto";
                font-size: 1vw;
                line-height: 1.5vw;
                max-width: 240px;
                max-height: 96px;
                overflow: auto;
                position: absolute;
                bottom: 1.5vw;
                color: $gray-500;
            }

            ::-webkit-scrollbar {
                width: 6px;
                background: transparent;
                border-radius: 2px;
            }

            ::-webkit-scrollbar:hover {
                background: $gray-500;
            }

            @media screen and (max-width: 1024px) {
                .ponto-turistico-title {
                    font-size: 2vw;
                    line-height: 2vw;
                }
                .ponto-turistico-description {
                    font-size: 1.5vw;
                    line-height: 2vw;
                }
            }

            @media screen and (max-width: 912px) {
                .ponto-turistico-title {
                    font-size: 2.5vw;
                    line-height: 3vw;
                }
                .ponto-turistico-description {
                    font-size: 1.8vw;
                    line-height: 1.8vw;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .ponto-turistico-infos-wrapper {
                padding: 36px 20px;

                .ponto-turistico-title {
                    font-size: 3vw;
                    line-height: 3vw;
                }

                .ponto-turistico-description {
                    font-size: 2.5vw;
                    line-height: 3vw;
                }
            }
        }
    }

    @media screen and (max-width: 412px) {
        .ponto-turistico-card {
            grid-template-columns: 1fr;
            height: 424px;

            .ponto-turistico-image-wrapper {
                max-width: 380px;
                height: 212px;
            }

            .ponto-turistico-infos-wrapper {
                height: 225px;
                padding: 24px 13vw;

                .ponto-turistico-title {
                    font-size: 24px;
                    line-height: 28px;
                }

                .ponto-turistico-description {
                    font-size: 16px;
                    line-height: 24px;
                    bottom: 24px;
                }
            }

            @media screen and (max-width: 280px) {
                .ponto-turistico-infos-wrapper {
                    padding: 24px 6vw;
                }
            }
        }
    }
}

.pontos-turisticos-container {
    margin: 12px 0;
}

@media screen and (max-width: 768px) {
    .pontos-turisticos-container-fixo,
    .pontos-turisticos-container {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}
