body,
button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: $black;
}

input,
label,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: $gray-500;
}

button {
    cursor: pointer;
}
